.ui.container > .ui.content{
	padding: 5em;
	 min-height: 700px;
}
.ui.container > .ui.footer{
	padding: 1.5em;
}

#profile-menu{
	margin-bottom: 2rem;
}
.getMoreEvents,
.getMoreTopic{
	cursor: pointer !important;

}
.td-div-event-title{
	max-width: 10em;
}
.td-div-event-content{
max-width: 20em;
}
.topic-user{
	margin-right: 10px !important;
}
.summary:hover{
	text-decoration: underline !important;
	cursor: pointer!important;
}
#topic-event-feed .event:hover{
	background: #f6f6f6
}