.ui.container > .ui.content{
	padding: 5em;
	 min-height: 700px;
}
.ui.container > .ui.footer{
	padding: 1.5em;
}

#profile-menu{
	margin-bottom: 2rem;
}
.getMoreEvents,
.getMoreTopic{
	cursor: pointer !important;

}
.td-div-event-title{
	max-width: 10em;
}
.td-div-event-content{
max-width: 20em;
}
.topic-user{
	margin-right: 10px !important;
}
.summary:hover{
	text-decoration: underline !important;
	cursor: pointer!important;
}
#topic-event-feed .event:hover{
	background: #f6f6f6
}
.toolbar{
	margin-bottom: 20px;
}
#albums-albums .cards .header,
#albums-albums .cards .description{
    overflow: hidden;
}
.input-addPhoto{
	display: none;
}
.selectAlbum{
	width: 200px!important;
    height: 30px!important;
}
.remove-photo-span{
    bottom: 7px;
    position: absolute;
    right: -3px;
    cursor: pointer;
    width: 20px;
    line-height: 20px;
    height: 20px;
    text-align: center;
}
.remove-photo-span-in{
	display: block !important;
}
.remove-photo-span-out{
    display: none !important;
}
.albums_menus{
	position: absolute !important;
	right: 0px !important;
	top:0px !important;
	z-index: 100
}
.input-file-album-bk{
	display: none;
}
.album-background-preview{
	max-width: 740px;
	max-height: 465px;
}
